<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/styleForm.css' />
    <link rel='stylesheet' href='/stylesheets/button.css' />
    <link rel='stylesheet' href='/stylesheets/table.css' /> <script type="text/css" src="https://use.fontawesome.com/your-embed-code.js"></script> 
  </head>
  <body>
    {{{body}}}
  </body>
</html>
