.box__form-buttons{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: flex-end;
    color: red;

}

.box__form-btn {
  width: 30%;
  background-color: rgba(10, 175, 252, .8);
  border: 0;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, .3) 0 5px 15px;
  cursor: pointer;
  font-size: .9em;
  color: rgb(0, 0, 0);
  margin: 5px;
  padding: 10px 15px;
  text-align: center;
  font-weight: bold;
}

@media (max-width: 768px) {
  .box__form-btn{
    font-size: .8em;

  }
}

